@charset "utf-8";
/* CSS Document */

:root {
    --primary-color: #84a9ac;
    --secondary-color: #3b6978;
    --nav-color: #353535;
    --text-color: #e4e3e3;
    --font: 'Kumbh Sans', sans-serif;
}

body {
    margin: 0 auto;
    background: rgb(34,193,195);
    background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
    font-family: var(--font);
}

/* NAV */
nav {
	margin-bottom:0.1em;	
}
nav ul {
	list-style-type:none;
	margin:0;
	padding:0;
    display:flex;
    background-color: var(--nav-color);
}
nav li { 
    flex-grow: 1; 
    transition: 0s background-color;
}
nav a {
	display: block;
	padding: 1em;
	text-align: center;
	text-decoration: none;
    color: var(--text-color);
}
li:hover {
    background: rgb(238,174,202);
    background: radial-gradient(
        circle, rgba(238,174,202,1) 0%, 
        rgba(148,187,233,1) 100%);
    transition-delay:1s;
}
li a:hover {
    color: var(--nav-color);
    font-weight: bold;
}

section h1{
    text-align: center;
    font-size: 3em;
}


article {
	display:grid;
    margin-bottom:0.1em;
}

#main {
    display:grid;
	grid-gap: 1rem;
	padding:1rem;
}
.bloque {
    box-shadow: 3px 5px 10px 0px rgba(0,0,0,0.75);
}

.bloque h2 {
	font-family: 'Open Sans', sans-serif;
	font-size: 1.2rem;
	font-weight: bold;
    margin-top: 0;
    padding: 10px 0 10px 10px;
}

footer {
    background-color: var(--nav-color);
    color:#fff;
    display: block;
    clear: both;
    width: 100vw;
    position: fixed;
    bottom: 0;
    padding: 10px;
    height: 40px;
    line-height: 40px;
}

@media (orientation: landscape) {
    section {
        grid-template-columns: 3fr;
        grid-template-rows: auto;
    }
    #main {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto;
    }
    aside {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto;
    }
    nav ul {
        flex-direction: row;
    }
    a {
        margin-right:0.2em;
    }
}

@media (orientation: portrait) {
    section {
        grid-template-columns: 3fr;
        grid-template-rows: auto;
    }
    #main {
        grid-template-columns: 1fr;
        grid-template-rows: 3fr 3fr 3fr;
    }
    aside {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto;
    }
    nav ul {
        flex-direction: column;
        margin:0;
        padding:0;
        background: rgb(83,83,83);
        background: linear-gradient(90deg, rgba(83,83,83,1) 0%, rgba(158,158,158,1) 100%);
        box-shadow: 3px 5px 10px 0px rgba(0,0,0,0.5);
    }
}

    