@import "lib/vars";
@import "lib/reboot";
@import "lib/keyframes";
@import "lib/fontface";

@import "lib/colors";
@import "lib/typo";
@import "lib/utils";

@import "partials/layout";
@import "partials/modals";


$pColor: "#596466";

* {
    &:not(a) {
        border: 1px solid pink;
    }
}

body {
    background-color: #C4C4C4;
}

h1 {
    color: #596466;
}

/* 
Botones
*/

.btn_main {
    background-color: #F262C1;
    color: #FFF;
    padding: 10px 20px;
    width: 100%;
    max-width: 100vw;
    border-radius: 5px;
}


.inline_menu{
    list-style-type: none;
    display: flex;
    color: $pColor;

    li {
        a {
            text-decoration: none;
            span {
                color: $pColor !important;
            }
        }
    }

}

#menu_page,
#setting_page,
#leaderboard_page {
    display: flex;
    flex-direction: column;
}

    header {
        width: 100%;
    }

    .hscore {
        width: 100%
    }

    .main,
    .slider,
    .lboard {
        flex-basis: 100%;
        width: 100%;
    }

    footer {
        width: 100%;
    }

#main_page {
    display: flex;
    flex-direction: column;
}

    .ui {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .game {
        flex-basis: 100%;
        width: 100%;
    }